@use '../../styles/variables.scss';

.content-forgot-password {
    display: flex;
    justify-content: center;
    width: 80%;
    flex-direction: column;
    align-items: center;

    &__content-info {
        width: 80%;
        display: flex;
        flex-direction: column;
        

        h1 {
            width: 80%;
            color: variables.$primary-text;
            font-size: 2.5em;
        }
    
        label {
            margin-top: 2.5rem;
            color: variables.$secondary-text;
            font-size: 0.8em;
            width: 80%;
        }
    
        input {
            all: unset;
            background-color: variables.$secondary-background;
            border-radius: 0.3rem;
            width: 80%;
            height: 2.4rem;
            color: variables.$primary-text;
            padding: 0 0.5rem;
            font-size: 0.8em;
            margin-top: 0.5rem;
        }
    
        input:focus {
            outline: revert;
            background-color: transparent;
        }

    }
    
}