@use './variables';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';

    button, input[type="submit"], input[type="reset"] {
        all: unset;
    }

    button:focus {
        outline: revert;
    }

    input:focus {
        outline: revert;
    }
}
